audioread==3.0.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
idna==3.7
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2
llvmlite==0.42.0
msgpack==1.0.8
nltk==3.8.1
numba==0.59.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
platformdirs==4.2.1
pooch==1.8.1
pycparser==2.22
pydub==0.25.1
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.5.10
requests==2.31.0
scikit-learn==1.4.2
scipy==1.13.0
six==1.16.0
sklearn-pandas==2.2.0
soundfile==0.12.1
soxr==0.3.7
SpeechRecognition==3.10.4
threadpoolctl==3.5.0
tqdm==4.66.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
